[build]
command = """
    curl -LsSf https://astral.sh/uv/install.sh | sh
    uv run example/example_parser.py . example/repo/docs output
    cd output
    PATH=../.venv/bin:$PATH make html
"""
publish = "output/_build/html"
